/* Quicksand font family */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: Quicksand;
  /* outline: 1px red solid; */
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(117,142,138), rgb(71,96,100));
  padding: 1vw;
}

.top-container {
  padding: 2vw;
  margin: 0.1vw;
  background-color: rgb(243,245,241);
}

.logo {
  margin: 1rem  2rem;
  font-size: 4vw;
}

.slogan {
  margin: 1rem 2rem;
  font-size: 2vw;
}

/* FILTER PROPERTIES COMPONENT  */
.white-container {
  margin: 2vw 10vw;
  padding: 1vw;
  background-color: white;
}

.filter-container {
  background-color: rgb(216,221,214);
  padding: 2vw;
  margin: 0.1vw;
}


/* NAVBAR  */

.navbar {
  font-family: Helvetica, sans-serif;
  /* background-color: rgb(243,245,241); */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 2vw 2vw 0.1vw;
  font-size: 1.5vw;
  line-height: 3;
}

.flex {
  display: flex;
}

.list {
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: auto;
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.list-item {
  justify-content: center;
}

.nav-title {
  margin-left: 20px;
}

.repo-link {
  align-self: center;
  margin-right: 20px;
}

.link {
  color: black;
  text-decoration: none;
  display: block;
}

/* REGISTER BUYER  */

.register-buyer {
  max-width: 50vw;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-register {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
}

.details {
  flex-wrap: wrap;
  padding-bottom: 20px;
  max-width: 50vw;
}

.name-input {
  margin: 10px;
}

input {
  max-width: 20vw;
}

/* DISPLAY PROPERTY */
h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item-card {
  margin-left: 10px;
  width: 400px;
  margin-top: 0px;
  background-color: rgb(248, 248, 248);
  border-radius: 3px;
  border: solid 1px rgb(220, 220, 220);
}

.item-card .btn {
/* position: absolute;
  top: 8px;
  right: 16px; */
  float: right;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  margin: 5px;

}

.p-one {
  font-size: large;
}

.item-card>img {
  padding: 0;
}

/* .item-card .btn:hover{

  background-color: black;
} */
.item-card p:first-child {
  writing-mode: vertical-rl;
}

.item-card>p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  word-wrap: break-word;
  word-break: keep-all;
  /* font-family: Georgia, serif; */
  font-WEIGHT: bold;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

.item-card span {
  word-spacing: 1em;
}

.item-card:hover {
  box-shadow: 10px 10px 10px 10px lightgray;
  /* cursor: pointer; */

}