/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  font-family: Quicksand;
  /* outline: 1px red solid; */
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;

  background-color: #F7F7F8;
  padding: 1vw;
}

.top-container {
  padding: 2vw;
  margin: 0.1vw;
  background-color: #565264;
}

.logo {
  color: #F7F7F8;
  margin: 1rem 2rem;
  font-size: 4vw;
}

.slogan {
  color: #706677;
  margin: 1rem 2rem;
  font-size: 2vw;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}






/* NAVBAR  */
.navbar {
  font-family: Helvetica, sans-serif;
  border-top: 1px solid #CCB7AE;
  border-bottom: 1px solid #CCB7AE;
  margin: 2vw 2vw 0.1vw;
  font-size: 1.5vw;
  line-height: 3;
}

.list {
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: auto;
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.list-item {
  justify-content: center;
}

.nav-title {
  margin-left: 20px;
}

.repo-link {
  align-self: center;
  margin-right: 20px;
}

.link {
  color: #D6CFCB;
  text-decoration: none;
  display: block;
}

.link:hover {
  text-decoration: underline;
}





/* FILTER PROPERTIES COMPONENT  */
.white-container {
  margin: 2vw 10vw;
  padding: 1vw;
  max-width: 100vw;
  background-color: white;
  box-shadow: 1px 1px 10px 1px #d6cfcb;
}

.filter-container {
  background-color: #ccb7ae;
  padding: 2vw;
  margin: 0.1vw;
}

.left-filter,
.right-filter {
  width: 40rem;

}

.filter {
  outline: 1px red solid;
  line-height: 1;
  align-items: center;
}

.DONOTDISPLAY {
  display: none;
}

.container select {
  font-size: 1.3vw;
  max-width: 20vw;
}

.container {
  display: grid;
  grid-template-columns: 1.4fr 1.4fr;
  grid-template-rows: auto auto 0.6fr;
  grid-auto-columns: 1fr;
  gap: 1em 3em;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: center;
  grid-template-areas:
    "price bathrooms"
    "bedrooms garden"
    "reset submit";
  height: 70%;
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "price-heading price-heading price-heading"
    "price-min price-to price-max";
  grid-area: price;
}

.price-heading {
  font-size: 1.5vw;
  justify-self: center;
  align-self: center;
  grid-area: price-heading;
}

.price-max {
  grid-area: price-max;
}

.price-min {
  grid-area: price-min;
}

.price-to {
  align-self: center;
  font-size: 1.2vw;
  justify-self: center;
  grid-area: price-to;
}

.bathrooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "bathrooms-heading bathrooms-heading bathrooms-heading"
    "bathrooms-min bathrooms-to bathrooms-max";
  grid-area: bathrooms;
}

.bathrooms-heading {
  font-size: 1.5vw;
  justify-self: center;
  align-self: center;
  grid-area: bathrooms-heading;
}

.bathrooms-to {
  font-size: 1.2vw;
  justify-self: center;
  align-self: center;
  grid-area: bathrooms-to;
}

.bathrooms-min {
  grid-area: bathrooms-min;
}

.bathrooms-max {
  grid-area: bathrooms-max;
}

.bedrooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "bedrooms-heading bedrooms-heading bedrooms-heading"
    "bedrooms-min bedrooms-to bedrooms-max";
  grid-area: bedrooms;
}

.bedrooms-heading {
  font-size: 1.5vw;
  justify-self: center;
  align-self: center;
  grid-area: bedrooms-heading;
}

.bedrooms-to {
  font-size: 1.2vw;
  justify-self: center;
  align-self: center;
  grid-area: bedrooms-to;
}

.bedrooms-min {
  grid-area: bedrooms-min;
}

.bedrooms-max {
  grid-area: bedrooms-max;
}

.garden {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "garden-heading"
    "checkbox";
  grid-area: garden;
}

.garden-heading {
  font-size: 1.5vw;
  justify-self: center;
  grid-area: garden-heading;
}

.checkbox {
  justify-self: center;
  align-self: center;
  grid-area: checkbox;
}

.reset {
  justify-self: center;
  align-self: center;
  grid-area: reset;
}

.reset-filter-btn,
.submit-filter-btn {
  background-color: #F7F7F8;
  border-radius: 5px;
  border: 1px solid #565264;
  display: inline-block;
  cursor: pointer;
  color: #565264;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
}

.reset-filter-btn:hover,
.submit-filter-btn:hover {
  color: #F7F7F8;
  background-color: #A6808C;
}

.reset-filter-btn:active,
.submit-filter-btn:active {
  position: relative;
  top: 1px;
}


.submit {
  justify-self: center;
  align-self: center;
  grid-area: submit;
}









/* DISPLAY PROPERTY & PROPERTY CARD */

.item-card {
  margin: 1vw auto;
  min-width: 250px;
  max-width: 20vw;
  min-height: 350px;
  background-color: #F7F7F8;
  border: #D6CFCB dotted 1px;
  box-shadow: 1px 1px 10px 1px #d6cfcb;
}

.padded-property-container {
  padding: 10px;
  height: 100%;

}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.salestatus {
  float: right;
}

.item-card:hover {
  box-shadow: 1px 1px 10px 1px #d6cfcb;
}

.property-img {
  min-width: 250px;
  max-width: 20vw;
}

.property-card-container {
  max-width: 80vw;
}

.FORSALE .resubmit-btn {
  display: none;
}

.WITHDRAWN .withdraw-btn {
  display: none;
}

.SOLD .withdraw-btn,
.SOLD .resubmit-btn,
.SOLD .appt-btn {
  display: none;
}

.INVIS {
  visibility: hidden;
}

.property-data {
  font-size: 1.2vw;
  text-align: left;
}

.property-address {
  font-size: 1.4vw;
  font-weight: bold;
}

.property-price {
  font-weight: 600;
  line-height: 1;
}

/* REGISTER SELLER  */